<div class="row col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <h1>Login</h1>

        <form ng-submit="login.doLogin()">
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="login.loginData.email" autofocus>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="login.loginData.password">
            </div>

            <div class="alert alert-danger" ng-if = "login.error">
                {{login.error}}
            </div>

            <button type="submit" class="btn btn-block btn-primary">Login</button>
            <p class="text-center"><a href="/register">Don't have an account? Register here!</a></p>
        </form>
    </div>
</div>